* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

.menu {
    font-size: 18px;
    background-color: #041235;
    padding-bottom: 10px;
    position: relative
}

.navbar-toggle {
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;

}

.menu li {
    list-style: none;
    text-align: center;
    margin: 15px auto;
}


.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.main-nav {
    transition: 1s;
    height: 0px;
    opacity: 0;
    position: absolute;
    background-color: #041235;
    width: 100%;
    left: 0;
    z-index: 1;
}


.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.active {
    display: block;
    height: 170px;
    opacity: 1;
}

.start-screen {
    height: 100vh;
    background-image: url(img/blue-sky-clear-sky-cold-346529.jpg);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title-screen {
    position: relative;
    color: white;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 40vh;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 600;


}

.arrow {
    position: absolute;
    top: 43vh;
    left: 50%;
    transform: translate(-100%, -50%);
}

.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid gray;
    border-right: 5px solid gray;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}


.about-me {
    text-align: justify;
}

.about-me h2,
h3,
p {
    margin: 20px 10px 10px 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    background-color: #ffffff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-shadow: 0px 1px 0px #ffffff;

}

.cv-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
    background-color: #f6f6f6;
}

.cv-button:active {
    position: relative;
    top: 1px;
}

.cv-button a {
    text-decoration: none;
    color: black;

}

.my-abilities {
    background-color: #f6f7fd;
    text-align: center;
}

.my-abilities i {
    font-size: 15vh;
}

.my-abilities h2 {
    margin: 20px 10px 10px 10px;
    padding-top: 10px;
}

.my-projects h2 {
    margin: 20px 10px 10px 10px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2vh;

}

.center-square {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.square {
    width: 200px;
    height: 200px;
    background-color: red;
    margin-top: 5%;

}

.square:first-of-type {
    margin-left: 0%;
}

.contact-section {
    background-color: #f6f7fd;
    width: 100%;
    margin-bottom: -2vh;
}

.contact-section h2 {
    margin: 20px 10px 10px 10px;
    padding-top: 10px;
}


.contact-icons {
    font-size: 50px;
    text-align: center;
}

.contact-icons i {
    margin-left: 20px;
    color: black;
}

.contact-icons i:last-of-type {
    margin-right: 20px;
}


footer {
    background-color: #041235;
    height: 100px;
}

footer p {
    position: relative;
    color: white;
    text-align: center;
    top: 50px;


}

@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    header {
        height: 100vh;
    }

    .logo {
        position: relative;
        top: 30px;
        font-size: 50px;
        color: white;
    }

    .menu {
        position: fixed;
        padding-bottom: 0;
        display: flex;
        height: 100vh;
        width: 25vh;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    .main-nav {
        display: block;
        align-items: center;
        opacity: 1;
        top: 30%;
        font-size: 25px;
        line-height: 60px;

    }

    .main-nav li {
        margin: 0;
    }


    .navbar-toggle {
        display: none;
    }

    .nav-links {
        color: white;
    }

    .logo:hover,
    .nav-links:hover {
        color: wheat;
    }

    .start-screen {
        bottom: 100vh;
        overflow: hidden;
    }

    .title-screen {
        text-align: center;
        padding-left: 25vh;
    }

    .title-screen h1 {
        font-size: 50px;
    }

    .arrow {
        top: 50vh;
        margin-left: 12.5vh;
    }

    .content-wrap h2,
    p {
        padding-left: 25vh;
    }


    .about-me h2,
    .my-abilities h2,
    .my-projects h2,
    .contact-section h2 {
        font-size: 50px;
        text-align: center;
    }

    .about-me {
        text-align: center;
    }

    .center {
        margin-left: 25vh;
    }


    .center-square {
        margin-left: 25vh;
        padding-bottom: 2vh;
    }

    .icons {
        width: 100%;
        font-size: 100px;
        margin-top: 30px;
        text-align: center;
        padding-left: 162.5px;
    }

    .icons i {
        margin-left: 80px;
    }

    .my-projects {
        text-align: center;
    }

    .contact-section {
        display: block;
        width: 100%;
    }

    .contact-icons {
        width: 100%;
        font-size: 50px;
        margin-top: 30px;
        margin-bottom: -30px;
        text-align: center;
        padding-left: 50px;
        padding-bottom: 30px;
    }


    .contact-icons i {
        margin-left: 25vh;
    }

    .contact-icons a {
        text-decoration: none;
        color: black;
    }

    .contact-icons i:hover {
        color: blue;
    }
}